/* common styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Style Script', cursive;
    font-family: 'Work Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&family=Open+Sans:wght@400;700;800&family=Style+Script&family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --Gamer: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --goat: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --aqua: #4EC5F7
}


/* nav styles */
.nav-title-container {
    display: flex;
    /* border: 1px red solid; */
    align-items: center;
    gap: 20px;
    object-fit: contain;

}

.colored-G {
    background: var(--Gamer);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    ;
}

.social {
    display: flex;
    padding: 16px 24px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}

.menu-container>ol,
a,
.a:visited {
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    align-items: center;
    color: #3C354F;
}

.menu-container {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    max-width: 1920px;
    padding: 40px 240px;
    font-family: work sans;
}


.nav-title {
    font: var(--Gamer);
    font-size: 2.8rem;
    font-family: work sans;
    font-weight: bold;

}

/* banner section styles */
.banner-container {
    display: flex;

    align-items: center;

    /* justify-content: center; */
    /* margin: 0px auto; */
    padding: 10px 100px;
    gap: auto;
    background-image: url("/images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    width: 40%;



}

.banner-heading {
    color: #0B0223;
    /* text-align: center; */

    font-size: 3rem;

    font-weight: 600;

    text-transform: uppercase;
    ;
}

.banner-title {
    background: var(--goat);
    /* text-align: center; */
    font-size: 5.4rem;
    font-weight: 800;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
}

.banner-image {
    padding-left: 15px;
    width: 30%;

}

h6 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 15px 0px;

}

.btn-pink {
    border: 0;
    display: inline-flex;
    padding: 21px 40px;
    /* align-items: flex-start; */

    border-radius: 48px;
    background: var(--Gamer);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
}

.btn-aqua {
    border: 0;
    display: inline-flex;
    padding: 21px 40px;
    /* align-items: flex-start; */
    margin-left: 15px;
    border-radius: 48px;
    background: var(--aqua);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
}

/* gamer */
.gamer-content {
    text-align: end;
    margin-right: 50px;
}

.gamer {
    display: flex;
    background: linear-gradient(90deg, rgba(224, 22, 126, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.gamer-title {
    background: var(--goat);
    /* text-align: center; */
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
}

.gamer-details {
    color: #534C64;
    font-size: 1.125rem;

}

gamer-purpose {
    margin: 15px 0px;
    text-align: center;
}

.our-purpose {
    color: #534C64;

    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
}

.purpose-details {
    color: #534C64;

    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    /* 187.5% */
}

/* gaming section starts */
.games-and-videos {
    font-family: ;
}

.h3-gv {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gv-videos {
    color: var(--goat);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: var(--goat);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;

    color: transparent;
    -webkit-background-clip: text;
}

.p-gv {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.cards {
    display: flex;
    gap: 5px;
    justify-content: space-around;
    margin: 15px 40px;
}

.card {
    box-shadow: 5px 5px 5px;
    width: 342px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 15px;
    position: relative;

}

.card img:hover {}

.playtext {
    width: 50%;
    text-align: center;
    padding: 15px 200px;
}

.playtext span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.play-title {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.play-details {
    color: #534C64;

    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.play-image {
    width: 50%;
}

.play-image img {
    width: 634.833px;
    height: 650px;
    border-radius: 8px;
    background: lightgray -7.583px 0px / 102.389% 100% no-repeat;
    ;
}

.play {
    display: flex;
    align-items: center;
}

.badge {
    width: 318px;
    height: 365px;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: lightgray -7.209px 0px / 114.78% 100% no-repeat;
    position: relative;
    text-align: center;
    margin: 0px 500px;
    margin-top: -100px;
    position: relative;
}

.career {
    display: flex;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    justify-content: space-between;
    align-items: center;
    /* gap: 15px; */

}

.opportunity {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;


}

.career-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.career-detail {
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.career-content {
    border: 1px black solid;
    width: 50%;
}

.career-photo {
    width: 50%;

}

.game-types {
    
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 80vh;
    justify-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 100px;
    gap: 5px;
}

.game {

    height: 70px;
width: 250px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
    background: #f7f5f5;
    border: #f5f4f7 2px solid;
    padding:  0px 10px;

}
.game:hover {
color:  #FF42A5;
   
    border:  #FF42A5 1px solid;

}

/* .game-types{
    display: flex;
   flex-wraprgb(226, 61, 180)
    } */