@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 8px auto;
        padding: 10px 0px;
        max-width: 576px;
    }

    .menu-container>ol {
        flex-direction: column;
    }

    .social {
        align-items: center;
    }

    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        padding: 0 33px;
    }

    .banner-content {
        width: 100%;
        padding: 0px 30px;
        text-align: center;
        background-image: url(../images/Group\ 14.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    h6 {
        text-align: start;
    }

    .banner-image {
        width: 100%;
    }

    .banner-photo {
        width: 100%;
        padding-left: 0;
    }

    .gamer {
        flex-direction: column;
        width: 100%;
    }

    .gamer-image img {
        width: 100%;
    }

    .gamer-content {
        text-align: center;
        width: 90%;
        margin-right: 0px;
        margin: 10px auto;

    }

    .gamer-purpose {
        margin: 15px 0px;
        text-align: center;
    }

    .our-purpose {
        color: #534C64;

        font-family: Work Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 45px;
        /* 187.5% */
    }

    .purpose-details {
        color: #534C64;

        font-family: Work Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        /* 187.5% */
    }
    .cards{
        gap: 20px;
        flex-direction: column;
        justify-content: center;
    }
    .playtext {
        width: 100%;
        text-align: center;
        padding: 15px 20px;
    }
    .play{
       flex-direction: column;
    }
.play-title, .play-details{
    text-align: center;
}
.badge{
    left: -429px;
    position: relative;
    top: -33px;
}
.career{
    flex-direction: column;
    padding: 10px;
}
.game-types{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   margin-bottom: 30px;
}
.card { 
    width: 90%;
    flex-shrink: 0;
    text-align: center;
    border-radius: 15px;
    position: relative;
    
}
}